.scroll-pane {
    -fx-padding: 0 0 1 0;
}

.progress-bar:running > .bar {
    -fx-background-color: linear-gradient(
            from 0px .75em to .75em 0px,
            repeat,
            -fx-accent 0%,
            -fx-accent 49%,
            derive(-fx-accent, 30%) 50%,
            derive(-fx-accent, 30%) 99%
    );
}

.progress-bar:succeeded > .bar {
    -fx-background-color: #90EE90;
}

.progress-bar:cancelled > .bar {
    -fx-background-color: #FF7F7F;
}

.progress-bar:failed > .bar {
    -fx-background-color: #FF7F7F;
}